body {
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 16px;
	color: #212121;
	background: radial-gradient(#FFFFFF, #F5F5F5);
}

.photo {
	margin-top: 30px;
}

.info {
	margin-top: 30px;
}

.marketing {
	background-color: #CFD8DC;
	border: 1px solid #FFFFFF;
	padding: 20px;
	padding-top: 0px;
}
