html {
	min-height: 100%;
	background: radial-gradient(#FFFFFF, #F5F5F5);
}

body {
	width: 1000px;
	font-family: 'Open Sans', Arial, sans-serif;
	color: #212121;
	margin: auto;
}

#text {
	padding: 10px;
}

#photo {
	float: right;
	margin: 50px;
}
